/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}

.login-screen-logo {
    max-width: 250px;
    display: block;
    margin: 50px auto 80px;
}

.label {
    font-weight: bold;
}

.button-round {
    border-radius: 30px;
}

.button-small {
    max-width: 150px;
}

.login-screen-buttons-group .button {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-transform: unset;
    padding: 15px 30px;
    height: unset;
    line-height: 18px;
    margin: 30px auto;
}

.button-glow-red {
    box-shadow: 0 12px 23.52px 0.48px rgba(244, 34, 20, 0.21);
}

.navbar, .subnavbar, .toolbar {
    background: #f44336!important;
}